* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0px;
  margin: 0 2%;
  z-index: 1;
  background-color: white;
}

.menu-items {
  flex: 12;
  background-color: #161414fc;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.more-btn {
  background-color: #161414fc;
  padding-top: 9px;
  padding-left: 10px;
}

.navbar-img {
  margin: 2px;
  width: 132px;
  height: 115px;
  @media screen and (max-width: 1200px) {
    height: 85px;
    width: 103px;
  }
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 400px;
  overflow-y: auto;
  text-align: center;
  top: 112px;
  left: 179px;
}

.mobile-navbar a {
  margin: 6px 8px;
}

.logo-title {
  position: absolute;
  bottom: 0px;
  padding: 0;
  left: 2px;
  color: red;
  font-weight: 1000;
  font-size: x-large;
  flex: 1;
  background-color: white;
  @media screen and (max-width: 1200px) {
    font-size: larger;
  }
}

.category {
  margin: 6px 6px 11px 6px;
  padding: 8px 29px;
  border-radius: 10px;
  background-color: #453e3e;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  @media screen and (max-width: 1200px) {
    padding: 6px 14px;
    margin: 2px 6px 4px 6px;
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  width: 154px;
  position: relative;
  padding: 10px;
  margin: 0 4px;
  transition: transform 0.3s ease; /* smooth animation */
}

.movie-card:hover {
  transform: scale(1.2); /* zoom by 20% */
  z-index: 1;
}

.movie-title {
  background-color: red;
  padding: 0 5px;
}

.movie-rating {
  padding: 0 5px;
  background-color: red;
}

.yearly-movie {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2%;
  justify-content: flex-start;
}

.movie-board {
  background-color: black;
}

.white-label {
  color: white;
}

.background-red {
  background-color: red;
}

.year-label {
  display: block;
  margin: 4px 2% 0 2%;
  padding-left: 10px;
  font-weight: 500;
  font-size: xx-large;
  opacity: 0.7;
  background-color: #899228;
}
