* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar {
  display: flex;
  position: relative;
  margin: 0 2%;
  background-color: white;
}

.menu-items {
  flex: 12;
  background-color: #161414fc;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navbar-img {
  margin: 2px;
  width: 132px;
  height: 115px;
  /* background-color: white; */
}

.logo-title {
  position: absolute;
  bottom: 0px;
  padding: 0;
  left: 2px;
  color: red;
  font-weight: 1000;
  font-size: x-large;
  flex: 1;
  background-color: white;
}

.category {
  margin: 6px 6px 11px 6px;
  padding: 8px 29px;
  border-radius: 10px;
  background-color: #453e3e;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

.movie-card {
  position: relative;
  padding: 10px;
}

.movie-title {
  position: absolute;
  background-color: red;
  bottom: 35px;
  left: 10px;
  padding: 0 5px;
}

.movie-rating {
  position: absolute;
  bottom: 9px;
  padding: 0 5px;
  left: 10px;
  background-color: red;
}

.yearly-movie {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2%;
  justify-content: space-between;
}

.movie-board {
  background-color: black;
}

.white-label {
  color: white;
}

.background-red {
  background-color: red;
}

.year-label {
  margin: 0 2%;
  padding-left: 10px;
  font-weight: 500;
  font-size: xx-large;
}
